 body{
    font-family: "Lato", sans-serif;
  }
  .navbar{
    background: #1c1c1c;
    color: #ffffff;
  }
  .navbar a{
    color: #ffffff;
    }
  .navbar .logo{
        /*font-family: 'Pacifico', cursive;*/
        color: #ffffff;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
  }
/*  .masthead, .navbar{
  border-bottom: 5px solid #000;
  }*/
  #banner{
    background-image: url(../img/Copenhagen.jpg);
    background-size: cover;
        background-repeat: no-repeat;
        
        font-size: 15pt;
        text-align: left;
        line-height: 1.5;
  }
  #banner:after {
    -moz-transition: opacity 4s ease;
    -webkit-transition: opacity 4s ease;
    -ms-transition: opacity 4s ease;
    transition: opacity 4s ease;
    content: '';
    position: absolute;
    /* width: 100%; */
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    opacity: 0.25;
}
  #banner .inner{
        line-height: 3;   
  }
  #bannner .button{
    margin-top: 20px;
  }
  #banner h1{
    letter-spacing: 3px; 
    color:#fff;
    font-weight: 400;
  }
  #banner h1 span{
    line-height: 1.5;
  }
  .masthead{
    margin-top: 30px;
  }
  .masthead h2{
    line-height: 80px;
  }
  .search-block{
    padding-bottom: 20px;
  }


  #portfolio{
    background: #f3f3f3;
    background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
    background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
  }
  .wrapper .title{
    color: #fc5b62;
    font-size:20px;
    line-height: 60px;
  }
  .wrapper .price{
    font-weight: 500;
    color: #999;
  }

  .coupon-link {
  border: none;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  line-height: 50px;
  text-decoration: none;
  color: white;
}
.btn:hover{
  text-decoration: none;
}
.search {
  display: inline-block;
  position: relative;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  margin: 10px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #000;
  border-radius: 30px;
  transition: all 200ms ease;
  cursor: text;
}
.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  right: -10px;
  top: 40px;
  background: #000;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 200ms ease;
}
.search.active,
.search:hover {
  width: 300px;
  margin-right: 0px;
  margin-top: 20px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
}
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 25px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}
.navbar-toggler-right{
  background-color: #fff !important;
  color: #1c1c1c !important;
}
.discount-btn{
    background-color: transparent;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    white-space: nowrap;
}
.red-btn{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #e5474b;
    color: #e5474b !important;
  }
.green-btn{
  background-color: transparent;
    box-shadow: inset 0 0 0 2px #28a745;
    color: #28a745 !important;
}
.white-btn{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
}
#intro{
  padding: 6em 0 4em 0;

}
h2{
  font-size: 30pt;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.profile-image{
  margin-bottom: 20px;
}
label {
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1em 0 1em 0;
    line-height: 2;
    color: #e5474b;
}
 input[type="text"], input[type="password"], input[type="email"], select, textarea {
    background: none;
    border-color: #ff0000;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    border: solid 3px #e5474b;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}
input[type="text"], input[type="password"], input[type="email"]
{
  height: 2.75em;
}
textarea {
 padding: 0.75em 1em;
}
.message-btn{
  margin-top: 40px;
}
.navbar-collapse a{
  margin: 10px 0px;
}
.modal-body{
  background:rgba(255,255,255,1);
  color: #ff0000 !important;
  text-align: left;
  

}
.modal-body h2{
  color: #ff0000 !important;
}
.modal-body .close-button{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.login-container{

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.wrap-login{
  background-color: #fff;
  padding: 50px 5%;

  background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
  background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
  background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
}
#login, #register{
  background:rgba(0,0,0,0.1);
}
.coupon {
  border: 5px dotted #bbb;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}
.coupon h3{
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.promo {
  color:#e5474b;
  padding: 3px;
}
.promo-code, .expire-code{
  color: #333;
}
.disclosure{
  font-size: 11px;
    color: #666;
}
a.shop-detail-link{
  color: #212529;
  text-decoration:none; 
}
.logo-img{
  height: 60px;
}
.error-messgae{
  color: #e5474b;
  font-weight: bold;
  font-size: 20px;
}
.shop-item .desc{
  height: 60px;
}


.page {
  margin: 1em auto;
  max-width: 768px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.box {
  padding: 0.5em;
  width: 100%;
  margin:0.5em;
}

.box-2 {
  padding: 0.5em;
  width: calc(100%/2 - 1em);
}

.options label,
.options input{
  width:4em;
  padding:0.5em 1em;
}

.hide {
  display: none;
}

.profileForm{
  display: none;
}
.profileForm input{
  margin: 10px 0px;
}
.change-trigger{
  padding: 20px;
}
.item-img{
  width: 100%;
}
.item-name{
  text-align: center;
  font-size: 20px;
}
.ratio-4-3{
  width:100%;
  position:relative;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  background-size:cover;
  background-clip:content-box;
}
.ratio-4-3:before{
    display:block;
    content:"";
    padding-top:75%;
}
.shop-profile-icon{
  color: green;
  padding-right:30px; 
}
.shop-contact-info{
  font-size: 18px;
  line-height: 35px;
}
.tag-button-icon{
  padding-left: 20px;
}
.tag-button{
  color: #fff;
}
.red-tag-button{
  background-color: #e5474b;
}
.tag-form{
  display: inline-block;
}
.green-tag-button{
  background-color: #28a745;
  font-size: 10px;
  padding: 0px 10px;
}
.tags-block{
  overflow: hidden;
  padding: 10px 0px;
  height: 45px;
}
.location-icon{
  display: inline-block;
  padding-right: 10px;
}
.location-block{
  padding: 10px 0px;
}
.shop-head{
  text-align: center;
  line-height: 100px;
  color: #000;
}
#shop-display{
  background-color: #eee;
}
.shop-item h3, .shop-item .wrapper
{
  padding-left: 30px;
  padding-right: 30px;
}
.shop-item .wrapper{
  padding-bottom: 30px;

}
  .shop-item,.portfolio-item{
    background:rgba(255,255,255,0.9); 
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px;
  }
  .dicount-modal-button{
 box-shadow: i-webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}


